  {{#if chordEdit}}
  	{{#if isEditing}}
     <li>
      <ul>
     <li>
  			<button {{action "updateSelection"}}>Update</button>
     </li>
     <li>
  			<button {{action "deleteSelection"}}>Remove</button>
     </li>
     <li>
  			<button {{action "chordCapture"}}>Capture</button>
    </li>
      </ul>
    </li>
  		{{#if selected }}
  			{{#ar-peg isEditing="isEditing" higher=controller click=null chord=selected as |string fret|}}

  				<button	{{action "toggleSelected" string fret}}>
  						|}{|
  				</button>

  			{{/ar-peg}}
  		{{/if}}

  	{{/if}}
  {{else}}

  <li>
  	<button {{action "newSelection"}}>New</button>
  </li>
  <li>
  	<button {{action "editSelected"}}>Edit</button>
  </li>
   <li>
			<button {{action "saveSelection"}}>Save</button>
   </li>


    {{#if song.chords.isFulfilled}}
    	{{#each song.chords as |chord|}}
	    	<li class="{{if ("arr-comp" selection chord) "match" }}">
		    	{{ar-peg chord=chord action="selector"}}
		    </li>
    	{{/each}}
    {{/if}}
 {{/if}}






