



<ul class={{menubar}}>
		<li {{action 'click'}}>O</li>
		{{#if controller.barVisible}}
		  {{#if song.options.isFulfilled}}
    		{{#each page in song.options itemController="li"}}
		    	<li {{action "forActive" page.model}} class="{{page.isActive:round}}">
				    {{#if page.model.x}}
				    	{{#link-to page.model.route page.model.x page.model.y tagName="div"}}
		  				  {{page.model.name}}
    					{{/link-to}}
		    		{{else}}
				    	{{#link-to page.model.route tagName="div"}}
					    	{{page.model.name}}
    					{{/link-to}}
		    		{{/if}}
	    		</li>
    		{{/each}}
    	{{/if}}
    {{/if}}  
</ul>

